*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 27%, rgba(118,9,121,1) 68%, rgba(154,0,255,1) 100%); */
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 27%, rgba(118,9,121,1) 58%, rgba(154,0,255,1) 79%, rgba(2,0,36,1) 99%);
}
#app-container{
    width: 414px;
    height: 100vh;
    margin: auto 39.2%;
    margin-top: 80px;
}
.one{
    width: 100%;
    padding: 0.7rem;
    margin: auto;
    background-color: rgb(32, 19, 24);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    overflow: hidden;
}

.two{
    width: 100%;
    height:736px;
    display: grid;
    grid-template-rows: repeat(1fr,5) ;
    grid-template-columns: none;
    padding: .001rem;
    margin: 10px 0;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    color: rgb(66, 119, 168);
    overflow-wrap: break-word;
    overflow: hidden;
    position: relative;
    display: none;;
}

.standardLabel{
 padding-left: 1rem;   
}

.textArea-1{
    margin: 1rem;
    display: block;
    width: 90%;
    height: 200px; 
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}

.white{
    color: white;
}
.selectionLabel{
    padding: 1rem;
    color:#fff;
}
#mapSelection{
    border-radius: 5px;
}
.btn{
    width: 80px;
    cursor: pointer;
    margin: 0 0.5rem;
    background-color: rgb(159, 118, 170);
    border: none;
    border-radius: 2px ;
    padding: 0.1rem;
    color:#333
}
.btn:hover{
   background-color:rgb(89, 53, 99); 
   color:#DDD
}
.button-container{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-basis: 100px;
    overflow: hidden;
    margin: 3% 11%;
}

.title{
    margin: auto 40%;
    background-color: rgba(134, 26, 49, 0.5);
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    margin: 10px 0;
    text-align: center;
    width: 414px;
    display: none;
}

 ul{
    list-style: none;
    margin: .5rem;
}

.list-container{
    width: 100%;
    position:absolute;
    z-index: 2;
}
.type_1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: none;
    gap:.5rem;
}

.type_2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: none;
    gap:.2rem;
    min-width: 88px;
    min-height: 90px;
}

.type_2 .wave-number{
    left:74.5%;
}
.type_2 .wave-container{
    margin: 0 1rem;
}

.type_2 .link-lines{
    margin-left: 2.8rem;
}
.type_2 .amount{
    margin-left: 2.15rem;
}
.wave-container{
    /* border: 1px solid #fff; */
    border-radius: 5px;
}


.wave{
    min-width: 88px;
    min-height: 90px;
    border-radius: 1.5rem 0.5rem 0.5rem 0rem;
    border: 1px solid;
}

.wave-number{
    width:1.4rem;
    height: 0.45rem;
    border: solid 1.5px;
    border-radius: 1.5rem 1rem 1rem 0rem;
    padding: 0.1rem 0.2rem 0.85rem 0.1rem;
    margin: 0.1rem 0rem;
    position: relative;
    left:75%;
    font-size: 10px;
    text-align: center;
    color:#fff;
}

.zone{
    font-size: 10px;
    border-bottom: 1px solid;
    padding-top: 0.2rem;
    color:#fff;
    height: 22px;
}

.bonus-objective{
    border: 1px solid;
    width: 100%;
    height: 20px;
    padding: 0.1rem 0.25rem;
    border-radius: 0rem 1rem 1rem 1rem;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color:#fff;
}

.boss-modifier{
    border: 1px solid;
    width: 100%;
    height:20px;
    padding: 0.1rem 0.25rem;
    border-radius: 0rem 1rem 1rem 1rem;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    color:#fff;
}

.link-lines {
    width: 0.4rem;
    height: 0.25rem;
    border:1px solid;
    border-top:none;
    border-bottom:none;
    margin-left: 2.5rem;
}

.normal{
    border-color: #AC51FB;
}

.bonus{
    border-color: #50C774;
}

.boss{
    border-color: #FF7474;
}


.amount {
    font-size: 10px;
    width:30px;
    height: 15px;
    background-color: #50C774 ;
    border-radius: 0rem 0rem 1rem 1rem;
    margin-left: 1.8rem;
    padding-bottom: 0.15rem;
    text-align: center;
    color:#fff;
}

.tooLong{
    font-size: 7px;
    padding-top: 0.2rem;
}
.toooLong{
    font-size: 5.2px;
    padding-top: 0.3rem;
}

.back-drop{
    width: 100%;
    opacity: 1;
    z-index: 0;
}

.overlay{
    width: 100%;
    height: 90.1%;
    position: absolute;
    background-color:black;
    opacity: 0.8;
    z-index: 2;
}

.overlay:after{
    content: "";
    width: 100%;
    height: 55px;
    color: white;
    margin-top:171%;
    display: block;
    background-color: black;
    opacity: 0.75;
}
.date, .version{
    color: rgb(177, 177, 177);
    font-size: 11px;
}
.info-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.date{
    position: absolute;
    bottom: 2px;
}
.version{
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.credits{
    display: flex;
    align-items: center;
    width:70%;
    height: 15px;
    color:#fff;
    font-size: 7px;
    z-index: 2;
    padding: 00.02rem;
    border-radius:10px ;
    text-align: center;
    border: 1px solid #776B4A;
    margin:auto 62.5px;
    overflow: hidden;
}
.credits-input{
    flex-basis: 200px;
}
.credits-label{
    display: block;
    margin-right:10px;
    border-right: 1px solid #776B4A;
    padding-right: 0.1rem;
    color:#FF4477;
    flex-basis: 30px;
}
.weekly-modifiers{
    border:1px solid #FF4477;
    width: 260px;
    height: 21px;
    border-radius: 10px;
    position: absolute;
    left:77px;
    bottom: 80px;
    z-index: 2;
    overflow: hidden;
}
hr.decorated-line{
    width: 100%;
    border:none;
    border-bottom:1px solid #FF4477;
    position: absolute;
    bottom: 90px;
    z-index: 2;
    clip-path: polygon(0% 0%,0% 100%, 18% 100%, 18% 0%,82% 0, 82% 100%, 100% 100%, 100% 0);
}
hr.decorated-line-2{
    width: 100%;
    border:none;
    position: relative;
    border-bottom:1px solid #776B4A;
    bottom: 8px;
    z-index: 2;
    clip-path: polygon(0% 0%,0% 100%, 14.5% 100%, 14.5% 0%,85.5% 0, 85.5% 100%, 100% 100%, 100% 0);
}

.week{
    color:#FFBFD1;
    font-size:9px ;
    border-right: 1px solid #FF4477;
    padding-right: 0.2rem;
}
.w-modifiers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom:5px;
}
.w-modifier p {
    display: block;
}
.w-modifier{
    width: 95px;
    height: 12px;
    color:#FFBFD1;
    font-size:9px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w-modifier-1,.w-modifier-2 {
    display: block;
    width: 15px;
}
.w-modifier:nth-child(2){
    border-right: 1px solid #FF4477;
    padding:0 0.2rem;
}
.designedBy{
    font-size: 8px;
    color: #FF7474;
    text-align: center;
}

.setInvisible{
    display: none;
}
.setVisible{
    display: grid;
}

.error-alert{
    color: #fff;
    background-color: rgb(143, 63, 63);
    border-radius: 10px;
    padding: 0.5rem;
    width:380px;
    text-align: center;
    margin: 5px 4.1%;
}
.slide-in{
    animation-name: slide-in;
    animation-duration:1s;
    animation-timing-function: ease;
    visibility: visible;
}

.donateBtn{
    color:#fff;
    background-color: #FF4477;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    float: right;
    margin-right: 22px;
    cursor: pointer;
}
.donateBtn:hover{
    background-color: rgb(255, 0, 76);
    color: rgb(20, 20, 20);
}

.sp{
    position: relative;
    bottom: 20px;
}
.specialEnemyRed{
    color:#FF7474;
    border-color: #FF7474;
}
.statistics{
    position: absolute;
}

.editForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 70px;
    overflow: hidden;
    top:2px;
}
.editField{
    width:50px;
    font-size: 7px;
    background: transparent;
    color: #fff;
    border-radius: 2px ;
    border: 0.05rem solid rgb(66, 119, 168);
    
}
.editField:focus{
    border-color:rgb(66, 119, 168);
    outline: 0.1rem solid rgba(255, 202, 202, 0.527) ;
    border-radius: 2px;
}
.saveBtn{
    font-size: 5px;
    background-color: #50C774;
    color: #fff;
    border: none;
    border-radius: 5px ;
    padding: 0 0.2rem;
    margin-left: 2px;
    cursor: pointer;
}

.button-container-2{
    width:100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-method{
    padding: 0.5rem 1.7rem;
    background-color: rgb(168, 37, 87);
    cursor: pointer;
    color: #fff;
    border: none;
}

.active-method{
    background-color: rgb(32, 19, 24);
}

.form{
    display: none;
    width: 100%;
    padding: 0.7rem;
    margin: 0px;
    background-color: rgb(32, 19, 24);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    overflow: hidden;
}
.form h2{
    color:#fff;
    margin: .5rem 0;
    border-bottom: 1px solid #fff;
}

.subform-1{

}
.subform-1 .previous{
    cursor: not-allowed ;
}

.subform-2, .subform-3, .subform-4{
    display: none;
}

.input-item{
    margin: 0 0 .5rem 0;
}
.form .selectionLabel {
    display: block;
    padding: 0;
    margin-bottom: 0.2rem;
}
.input-item label{
    display: block;
    color: #fff;
    margin-bottom: 0.2rem;
}

.input-item input[type="text"]{
    font-size: 1rem;
    padding: 0.2rem;;
    width: 100%;
}

.subform-1 .inputs .input-item:nth-last-child(1),
.subform-2 .inputs .input-item:nth-last-child(1),
.subform-3 .inputs .input-item:nth-last-child(1),
.subform-4 .inputs .input-item:nth-last-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.previous {
    padding: .2rem 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
.next{
    padding: .2rem 1rem;
    background-color: rgb(168, 37, 87);
    border: 1px solid #333;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}

.legend{
    padding: 0.5rem 0.2rem;
    width: 100%;
    background-color: rgba(35, 0, 44, 0.336);
    margin: auto 5px;
    border-radius: 5px;
    display: block;
}
.legend-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.legend-title{
    width:135px;
    color:#FFBFD1;
    border: 1px solid #FF4477;
    border-radius: 30px;
    padding: 0.1rem 0.2rem;
    text-align: center;
    margin: auto 127.5px;
}
hr.decorated-line-3{
    width: 100%;
    border:none;
    position: relative;
    border-bottom:2px solid #FF4477;
    bottom: 20px;
    z-index: 2;
    clip-path: polygon(0% 0%,0% 100%, 30% 100%, 30% 0%,71.8% 0, 71.8% 100%, 100% 100%, 100% 0);
}
.line{
    width: 20px;
    height: 10px;
    border-radius: 20px;
    margin-right: 5px;
}
.normal-font-color{
    color:#AC51FB;
}
.bonus-font-color{
    color:#50C774;
}
.boss-font-color{
    color:#FF7474;
}
.normal-fill{
    background-color: #AC51FB;
}
.bonus-fill{
    background-color: #50C774;
}
.boss-fill{
    background-color: #FF7474;
}
.legend-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.legend-list-2, .legend-list-3 {
    color:#fff;
}

.legend-list-2 img, .legend-list-3 img {
    margin-right: 10px;
    transform: scale(1.2);
    position: relative;
}
@keyframes slide-in{
    0% {
		transform: translateY(-100%);
	}
	
	100% {
		transform: translateY(0%);
	}		
}

.fade-out{
    animation-name: fade-out;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    visibility:visible;
}

@keyframes fade-out{
    0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
        visibility: hidden;
	}	
}
@media only Screen and (max-width:1280px){
    #app-container{
        margin: auto 33.82%;
    }
    .button-container-2{
        margin: auto 0 ;
    }
}
@media only Screen and (max-width:912px){
    #app-container{
        margin: auto 27.3%;
    }
}
@media only Screen and (max-width:820px){
    #app-container{
        margin: auto 24.75%;
    }
}

@media only Screen and (max-width:540px){
    #app-container{
        margin: auto 11.6%;
    }
}

@media only Screen and (max-width:414px){
    #app-container{
        width: 400px;
        margin: auto 0;
    }
    .button-container-2, .form{
        margin: auto 5px ;
    }
    .one, .two{
        margin: 1% 1.5%;
    }
    .two{
        height: 736px;
    }
    .title{
        width: 400px;
        margin: 1% 1.5%;
    }
    .overlay{
        width: 100%;
        height: 87.5%;
        position: absolute;
        background-color:black;
        opacity: 0.75;
        z-index: 2;
    }
    /* margin-top increase will push the bottom bar below */
    .overlay:after{
        content: "";
        width: 100%;
        height: 60px;
        color: white;
        margin-top:170.5%;
        display: block;
        background-color: black;
        opacity: 0.75;
    }
    .weekly-modifiers{
        left:75px;
        bottom:30px;
    }
    hr.decorated-line{
        bottom: 40px;
        clip-path: polygon(0% 0%,0% 100%, 18% 100%, 18% 0%,85% 0, 85% 100%, 100% 100%, 100% 0);
    }
}


@media only screen and (max-width:393px){
    #app-container{
        width: 380px;
        margin: 59% 0;
    }

    .one,.two{
        margin: 1% 1.2%;
    }
    .two{
        height: 736px;
    }
    .title{
        width: 380px;
        margin: auto  1.5%;
    }
    .back-drop{
        width: 100%;
        height: 100%;
    }
    
    .overlay{
        width: 100%;
        height: 90.5%;
        position: absolute;
        background-color:black;
        opacity: 0.75;
        z-index: 2;
    }
    /* margin-top increase will push the bottom bar below */
    .overlay:after{
        content: "";
        width: 100%;
        height: 28px;
        color: white;
        margin-top:186.5%;
        display: block;
        background-color: black;
        opacity: 0.75;
    }
    .type_1{
        gap:0.2rem;
    }
    
    .type_2 .link-lines {
        margin-left:2.6rem;
    }
    .zone{
        font-size: 8px;
        height: 22px;
        cursor: pointer;
    }
    .type_2 .amount{
        margin-left: 1.8rem;
    }
    .date{
        font-size: 9px;
    }
    .version{
        font-size: 9px;
    }
    .credits{
    
    }
    .designedBy{
    
    }
    .weekly-modifiers{
        border:1px solid #FF4477;
        width: 260px;
        height: 21px;
        border-radius: 10px;
        position: absolute;
        left:15.7%;
        bottom: 80px;
        z-index: 2;
        overflow: hidden;
    }
    hr.decorated-line{
        width: 100%;
        border:none;
        border-bottom:1px solid #FF4477;
        position: absolute;
        bottom: 90px;
        z-index: 2;
        clip-path: polygon(0% 0%,0% 100%, 15% 100%, 15% 0%,85% 0, 85% 100%, 100% 100%, 100% 0);
    }
    /* .weekly-modifiers{
        left:15.7%;
    }
    hr.decorated-line{
        clip-path: polygon(0% 0%,0% 100%, 15% 100%, 15% 0%,85% 0, 85% 100%, 100% 100%, 100% 0);
    } */
    hr.decorated-line-2{
        clip-path: polygon(0% 0%,0% 100%, 15.5% 100%, 15.5% 0%,87% 0, 87% 100%, 100% 100%, 100% 0);
    }
    .info-container{
        bottom:0;
    }
    .tooLong{
        font-size: 6px;
        padding-top: 0.25rem;
    }
    .error-alert{
        margin: 5px 1.4%;
    }
    /* ----------------------------sePlacements-------------------- */
    .intersectIconPath-1{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%, 100% 100%, 0 100%);
    }
    .intersectIconPath-2{
        clip-path: polygon(0 0,100% 0, 100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 100%, 0 100%);
    }
    .intersectIconPath-3{
        clip-path: polygon(0 0,100% 0, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    
    .intersectIconPath-1-2{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%, 100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 100%, 0 100%);
    
    }
    
    .intersectIconPath-1-3{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    
    .intersectIconPath-2-3{
        clip-path: polygon(0 0,100% 0, 100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    
    .intersectIconPath-1-2-3{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%,100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    .se-1, .se-13, .se-22, .se-31{
        transform: translate(75.5px, -78px);
    }
    .se-2, .se-14, .se-23, .se-32{
        transform: translate(75.5px, -56.5px);
    }
    .se-3, .se-15, .se-24, .se-33{
        transform: translate(75.5px, -34.5px);
    }
    .se-4,.se-10, .se-19, .se-28{
        transform: translate(75.5px, -117px);
    }
    .se-5,.se-11, .se-20, .se-29{
        transform: translate(75.5px, -95.5px);
    }
    .se-6, .se-12, .se-21, .se-30{
        transform: translate(75.5px, -73.5px);
    }
    .se-7, .se-16, .se-25, .se-34{
        transform: translate(75.5px, -102px);
    }
    .se-8, .se-17, .se-26, .se-35{
        transform: translate(75.5px, -80.5px);
    }
    .se-9, .se-18, .se-27, .se-36{
        transform: translate(75.5px, -58.5px);
    }
    .se-37{
        transform: translate(74.5px, -117px);
    }
    .se-38{
        transform: translate(74.5px, -95.5px);
    }
    .se-39{
        transform: translate(74.5px, -73.5px);
    }
    .se-40{
        transform: translate(74.5px, -78px);
    }
    .se-41{
        transform: translate(74.5px, -57px);
    }
    .se-42{
        transform: translate(74.5px, -34.5px);
    }
    .se-43{
        transform: translate(74.5px, -102px);
    }
    .se-44{
        transform: translate(74.5px, -80.5px);
    }
    .se-45{
        transform: translate(74.5px, -58px);
    } 
    /* .w-modifier-1{
        transform: translate(-95px, -1px);
    }
    .w-modifier-2{
        transform: translate(-68px, -1px);
    } */
}

@media only Screen and (max-width: 390px){
    .tooLong{
        font-size: 6px;
        padding-top: 0.25rem;
    }
}
@media only screen and (max-width:375px){
    .app-container{
        width: 370px;
        margin: 59% 1px;
    }
    .one{
        margin: 5px 0;
    }
    .two{
        margin: 0;
    }
    .title{
        margin: 5px 0;
    }
}