*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 27%, rgba(118,9,121,1) 68%, rgba(154,0,255,1) 100%); */
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 27%, rgba(118,9,121,1) 58%, rgba(154,0,255,1) 79%, rgba(2,0,36,1) 99%);
}
#app-container{
    width: 414px;
    height: 100vh;
    margin: auto 39.2%;
    margin-top: 80px;
}
.simulate-app-contianer{
    width: 414px;
    height: auto;
    margin: auto 39.2%;
    margin-top: 80px;
    background-color: #000;
    z-index: 100;
}
.top-level-container{
    background-color: #000;
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 10;
}
.one{
    width: 100%;
    padding: 0.7rem;
    margin: 5px auto;
    background-color: rgb(24, 0, 19);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.two{
    width: 100%;
    height:736px;
    display: grid;
    grid-template-rows: repeat(1fr,5) ;
    grid-template-columns: none;
    padding: .001rem;
    margin: 5px 0;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    color: rgb(66, 119, 168);
    overflow-wrap: break-word;
    overflow: hidden;
    position: relative;
    display: none;;
}

.latestUpdate{
    color: #fff;
    margin: auto 40%;
    background-color: rgba(134, 26, 49, 0.5);
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    margin: 5px 0;
    text-align: center;
    width: 414px;
    font-size: 1rem;
}

.heading-container{
    width: 100%;
    margin-block: 5px;
}
.heading-container .sp {
    width: 100%;
    position:static;
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 0.25rem;
    margin: 0;
}
.heading-container .sp .donateBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 120px;
    float:none;
    margin: 0 ;
    overflow: hidden;
}

.bow{
    width: 20px;
    display: inline-block;
}
.reverse{
    transform:scaleX(-1);
}
.extend{
    display: inline-block;
}

.standardLabel{
 padding-left: 1rem;   
}

.textArea-1{
    margin: 1rem;
    display: block;
    width: 90%;
    height: 200px; 
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color:#fff;
    background-color: rgb(73, 40, 73);
}

.red-border{
    border: 1px solid rgb(202, 52, 52);
}

.white{
    color: white;
}
.selectionLabel{
    padding: 1rem;
    color:#fff;
}
#mapSelection{
    border-radius: 5px;
    padding: 0.15rem;
    width: 60%;
    background-color: rgb(134, 56, 134);
    color: #fff;
    -webkit-padding: 0.15rem;
}
#mapSelection-2, #weeklyModifier, #weeklyHazard, #date{
    border-radius: 5px;
    padding: 0.25rem;
    width: 100%;
    background-color: rgb(134, 56, 134);
    color: #fff;
}

#date {
    -webkit-appearance: none;
    border:none;
}
.btn{
    width: 80px;
    cursor: pointer;
    margin: 0 0.5rem;
    background-color: rgb(223, 109, 255);
    border: none;
    border-radius: 5px ;
    padding:0.25rem 0.1rem;
    color:#000
}
.btn:hover{
   background-color:rgb(120, 62, 136); 
   color:#DDD
}
.button-container{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-basis: 100px;
    overflow: hidden;
    margin: 3% 11%;
}

.title{
    margin-block: 5px;
    background-color: rgba(134, 26, 49, 0.5);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 414px;
    display: none;
}

 ul{
    list-style: none;
    margin: .5rem;
}

.list-container{
    width: 100%;
    position:absolute;
    z-index: 2;
}
.type_1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: none;
    gap:.5rem;
}

.type_2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: none;
    gap:.2rem;
    min-width: 88px;
    min-height: 90px;
}

.type_2 .wave-number{
    left:74.5%;
}
.type_2 .wave-container{
    margin: 0 1rem;
}

.type_2 .link-lines{
    margin-left: 2.8rem;
}
.type_2 .amount{
    margin-left: 2.15rem;
}
.wave-container{
    /* border: 1px solid #fff; */
    border-radius: 5px;
}


.wave{
    min-width: 88px;
    min-height: 90px;
    border-radius: 1.5rem 0.5rem 0.5rem 0rem;
    border: 1px solid;
}

.wave-number{
    width:1.4rem;
    height: 0.45rem;
    border: solid 1.5px;
    border-radius: 1.5rem 1rem 1rem 0rem;
    padding: 0.1rem 0.2rem 0.85rem 0.1rem;
    margin: 0.1rem 0rem;
    position: relative;
    left:75%;
    font-size: 10px;
    text-align: center;
    color:#fff;
}

.zone{
    font-size: 10px;
    border-bottom: 1px solid;
    padding-top: 0.2rem;
    color:#fff;
    height: 22px;
}

.bonus-objective{
    border: 1px solid;
    width: 100%;
    height: 20px;
    padding: 0.1rem 0.25rem;
    border-radius: 0rem 1rem 1rem 1rem;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color:#fff;
}

.boss-modifier{
    border: 1px solid;
    width: 100%;
    height:20px;
    padding: 0.1rem 0.25rem;
    border-radius: 0rem 1rem 1rem 1rem;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    color:#fff;
}

.link-lines {
    width: 0.4rem;
    height: 0.25rem;
    border:1px solid;
    border-top:none;
    border-bottom:none;
    margin-left: 2.65rem;
}

.normal{
    border-color: #AC51FB;
}

.bonus{
    border-color: #50C774;
}

.boss{
    border-color: #FF7474;
}


.amount {
    font-size: 10px;
    width:30px;
    height: 15px;
    background-color: #50C774 ;
    border-radius: 0rem 0rem 1rem 1rem;
    margin-left: 1.8rem;
    padding-bottom: 0.15rem;
    text-align: center;
    color:#fff;
}

.tooLong{
    font-size: 7px;
    padding-top: 0.2rem;
}
.toooLong{
    font-size: 5.2px;
    padding-top: 0.3rem;
}

.back-drop{
    width: 100%;
    opacity: 1;
    z-index: 0;
}

.overlay{
    width: 100%;
    height: 90.1%;
    position: absolute;
    background-color:black;
    opacity: 0.8;
    z-index: 2;
}

.overlay:after{
    content: "";
    width: 100%;
    height: 55px;
    color: white;
    margin-top:171%;
    display: block;
    background-color: black;
    opacity: 0.75;
}
.date, .version{
    color: rgb(177, 177, 177);
    font-size: 11px;
}
.info-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.date{
    position: absolute;
    bottom: 2px;
    left: 5px;
}
.version{
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.credits{
    display: flex;
    align-items: center;
    width:70%;
    height: 15px;
    color:#fff;
    font-size: 7px;
    z-index: 2;
    padding: 00.02rem;
    border-radius:10px ;
    text-align: center;
    border: 1px solid #776B4A;
    margin:auto 62.5px;
    overflow: hidden;
}
.credits-input{
    flex-basis: 200px;
}
.credits-label{
    display: block;
    margin-right:10px;
    border-right: 1px solid #776B4A;
    padding-right: 0.1rem;
    color:#FF4477;
    flex-basis: 30px;
}
.weekly-modifiers{
    border:1px solid #FF4477;
    width: 260px;
    height: 21px;
    border-radius: 10px;
    position: absolute;
    left:77px;
    bottom: 80px;
    z-index: 2;
    overflow: hidden;
}
hr.decorated-line{
    width: 100%;
    border:none;
    border-bottom:1px solid #FF4477;
    position: absolute;
    bottom: 90px;
    z-index: 2;
    clip-path: polygon(0% 0%,0% 100%, 18% 100%, 18% 0%,82% 0, 82% 100%, 100% 100%, 100% 0);
}
hr.decorated-line-2{
    width: 100%;
    border:none;
    position: relative;
    border-bottom:1px solid #776B4A;
    bottom: 8px;
    z-index: 2;
    clip-path: polygon(0% 0%,0% 100%, 14.5% 100%, 14.5% 0%,85.5% 0, 85.5% 100%, 100% 100%, 100% 0);
}

.week{
    color:#FFBFD1;
    font-size:9px ;
    border-right: 1px solid #FF4477;
    padding-right: 0.2rem;
}
.w-modifiers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom:5px;
}
.w-modifier p {
    display: block;
    font-size: 8px;
}
.w-modifier{
    width: 95px;
    height: 12px;
    color:#FFBFD1;
    font-size:9px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w-modifier-1,.w-modifier-2 {
    display: block;
    width: 15px;
}
.w-modifier:nth-child(2){
    border-right: 1px solid #FF4477;
    padding:0 0.2rem;
}
.designedBy{
    font-size: 8px;
    color: #FF7474;
    text-align: center;
}

.setInvisible{
    display: none;
}
.setVisible{
    display: grid;
}
.success-alert{
    color: #fff;
    background-color: rgb(63, 143, 110);
    border-radius: 10px;
    padding: 0.5rem;
    width:380px;
    text-align: center;
    margin: 5px 4.1%;
}
.error-alert{
    color: #fff;
    background-color: rgb(143, 63, 63);
    border-radius: 10px;
    padding: 0.5rem;
    width:380px;
    text-align: center;
    margin: 5px 4.1%;
}
.slide-in{
    animation-name: slide-in;
    animation-duration:1s;
    animation-timing-function: ease;
    visibility: visible;
}


.donateBtn{
    color:#fff;
    background-color: #FF4477;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    float: right;
    margin-right: 22px;
    cursor: pointer;
}
.donateBtn:hover{
    background-color: rgb(0, 140, 255);
    color: rgb(20, 20, 20);
}
.bow:hover{
    filter: invert(99%) sepia(0%) saturate(324%) hue-rotate(264deg) brightness(0) saturate(100%);
}

.specialEnemyRed{
    color:#FF7474;
    border-color: #FF7474;
}
.statistics{
    position: absolute;
}

.editForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 70px;
    overflow: hidden;
    top:2px;
}
.editField{
    width:50px;
    font-size: 7px;
    background: transparent;
    color: #fff;
    border-radius: 2px ;
    border: 0.05rem solid rgb(66, 119, 168);
    
}
.editField:focus{
    border-color:rgb(66, 119, 168);
    outline: 0.1rem solid rgba(255, 202, 202, 0.527) ;
    border-radius: 2px;
}
.saveBtn{
    font-size: 5px;
    background-color: #50C774;
    color: #fff;
    border: none;
    border-radius: 5px ;
    padding: 0 0.2rem;
    margin-left: 2px;
    cursor: pointer;
}

.button-container-2{
    width:100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-method{
    padding: 0.5rem 1.7rem;
    background-color: rgb(168, 37, 87);
    cursor: pointer;
    color: #fff;
    border: none;
    flex-basis: 129px;
    border: 2px solid transparent;
}

.active-method{
    background-color: rgb(255, 36, 120);
    border: 2px solid #df3eff;
    color:rgb(255, 255, 255);
}

.form{
    display: none;
    width: 100%;
    padding: 0.7rem;
    margin: 5px 0px;
    background-color: rgb(32, 19, 24);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    overflow: hidden;
}
.form h2{
    color:#fff;
    margin: .5rem 0;
    border-bottom: 1px solid #fff;
}

.subform-1{

}
.subform-1 .previous{
    cursor: not-allowed ;
}

.subform-2, .subform-3, .subform-4{
    display: none;
}

.input-item{
    margin: 0 0 .5rem 0;
}
.form .selectionLabel {
    display: block;
    padding: 0;
    margin-bottom: 0.2rem;
}
.input-item label{
    display: block;
    color: #fff;
    margin-bottom: 0.2rem;
}

.input-item input[type="text"]{
    font-size: 1rem;
    padding: 0.2rem;;
    width: 100%;
    border-radius: 5px;
    border: none;
    color:#fff;
    background-color: rgb(134, 56, 134);
}

.subform-1 .inputs .input-item:nth-last-child(1),
.subform-2 .inputs .input-item:nth-last-child(1),
.subform-3 .inputs .input-item:nth-last-child(1),
.subform-4 .inputs .input-item:nth-last-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.previous {
    padding: .2rem 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
.next{
    padding: .2rem 1rem;
    background-color: rgb(168, 37, 87);
    border: 1px solid #333;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}

.legend{
    padding: 0.5rem 0.2rem;
    width: 100%;
    background-color: rgba(35, 0, 44, 0.336);
    margin: auto 5px;
    border-radius: 5px;
    display: block;
}
.legend-wrapper-p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.legend-title{
    width:135px;
    color:#FFBFD1;
    border: 1px solid #FF4477;
    border-radius: 30px;
    padding: 0.1rem 0.2rem;
    text-align: center;
    margin: auto 127.5px;
}
hr.decorated-line-3{
    width: 100%;
    border:none;
    position: relative;
    border-bottom:2px solid #FF4477;
    bottom: 20px;
    z-index: 2;
    clip-path: polygon(0% 0%,0% 100%, 30% 100%, 30% 0%,71.8% 0, 71.8% 100%, 100% 100%, 100% 0);
}
.line{
    width: 20px;
    height: 5px;
    border-radius: 20px;
    margin-right: 5px;
}
.normal-font-color{
    color:#AC51FB;
}
.bonus-font-color{
    color:#50C774;
}
.boss-font-color{
    color:#FF7474;
}
.normal-fill{
    background-color: #AC51FB;
}
.bonus-fill{
    background-color: #50C774;
}
.boss-fill{
    background-color: #FF7474;
}
.legend-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block:0.3rem;
    z-index: 1;
}

.legend-list-2, .legend-list-3 {
    width: 85px;
    color:#fff;
}

.legend-list-2 li p, .legend-list-3 li p {
    text-align: center;
    margin-left: 10px ;
}
.list-item > img {
    margin-right: 20px;
    transform: scale(1.2);
    display: inline-block;
}

.caught-errors{
    color:#fff;
    background-color: rgb(194, 45, 77);
    border-radius: 5px;
    padding: 0.5rem;
    margin-block:5px;

}

.caught-errors-title{
    text-align: center;
    border-bottom:solid 1px #fff;
    padding-bottom: 0.5rem ;
}

.error-list{

}
.error-item{
    background-color: rgb(105, 22, 22);
    border-radius: 5px;
    margin-block: 2px;
    padding: 0.5rem;
}

.form-error{
    color:rgb(207, 93, 93);
}

.form-errors-container{
    list-style: disc;
    padding-left: 1.5rem;
}
.wrapper{
    position: relative;
}
#share{
    background-color: transparent;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor:pointer;
    position: absolute;
    top:9px;
    right:12px;
    z-index: 3;
    border:1px solid transparent;

}

#download-img{
    background-color: transparent;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor:pointer;
    position: absolute;
    top:18px;
    right:60px;
    z-index: 3;
    border-color: transparent;
}

#lights-off{
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: auto;
    /* height: 50px; */
    border-radius: 5px;
    cursor:pointer;
    position: absolute;
    top:22px;
    left:20px;
    z-index: 3;
    padding: 0.2rem 0.5rem;
    border-color: transparent;
}

.lights-on{
    background-color: rgb(165, 165, 97);
    color: #000;
    width: 5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor:pointer;
    margin: 50px 42%;
    z-index: 10;
    border-color: transparent;
}

.legend-container{
    width: 100%;
    background-color: #000;
    border:#776B4A 2px solid;
    border-radius: 5px;
    margin-block:5px;
    overflow: hidden;
    transition: height 0.5s;
}

.hide-legend{
    height: 50px;
}

.show-legend{
    height:270px;
}

#legendBtn {
    width:100%;
    text-align: center;
    color:#776B4A;
    background-color: transparent;
    padding: 0.5rem 2rem;
    text-align: center;
    border:none;
    cursor:pointer;
    font-size: 22px;
    font-weight:800;
}
.legend-wrapper-g{
    display: flex;
    flex-direction: column;
}
.legend-list-4{
    color:#fff;
    margin-inline:15%;
}
.legend-divider{
    width: 96%;
    margin: 1% 2%;
    border:1px solid #776B4A;
}
@keyframes slide-in{
    0% {
		transform: translateY(-100%);
	}
	
	100% {
		transform: translateY(0%);
	}		
}

.fade-out{
    animation-name: fade-out;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    visibility:visible;
}

@keyframes fade-out{
    0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
        visibility: hidden;
	}	
}

.how-to{
    display: none;
    background-color:rgb(13, 46, 77);
    width:414px;
    border-radius: 4px;
    margin:5px 0;
    overflow: hidden;
    height: 40px;
    padding: 0.25rem;
    transition: height 0.5s;
}

.how-to-expand{
    height: 680px;
}

.how-to-item{
    color:#fff;
    height: auto;
    /* overflow: hidden; */
    /* background-color: rgb(42, 100, 81); */
    border-radius: 5px;
    transition: height 0.5s;
    padding: 0.25rem;
}

.general-expand{
    height:auto;
}

.how-to-divider{
    border: 1px solid #000;
    margin-block:5px;
}
#how-to{
    border:none;
    padding: 0.5rem;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    color:#fff;
}
@media only Screen and (max-width:1280px){
    #app-container{
        margin: auto 33.82%;
    }
    .button-container-2, .heading-container .sp{
        margin: auto 0 ;
    }
}
@media only Screen and (max-width:912px){
    #app-container{
        margin: auto 27.3%;
    }
    .top-level-container{
        height: 100%;
    }
    .simulate-app-contianer{
        margin:80px 30%;
    }
}
@media only Screen and (max-width:820px){
    #app-container{
        margin: auto 24.75%;
    }
    .simulate-app-contianer{
        margin: 80px 27%;
    }
}

@media only screen and (max-width:768px){
    .simulate-app-contianer{
        margin: 80px 25% ;
    }
}

@media only Screen and (max-width:540px){
    #app-container{
        margin: auto 11.6%;
    }
    .top-level-container{
        height: auto;
    }
    .simulate-app-contianer{
        margin: auto;
        margin-top: 80px ;
    }

    .show-legend{
        height: 380px;
    }
}

@media only screen and (max-width:428px){
    #app-container{
        width: 420px;
        margin: auto 4px;
    }
    .top-level-container{
        width: 100%;
        overflow: hidden;
    }

    .how-to{
        width:420px;
    }
}

@media only screen and (max-width:424px){
    .simulate-app-contianer{
        width: 414px;
    }
    .top-level-container{
        width: auto;
    }
}
@media only Screen and (max-width:414px){
    #app-container{
        width: 400px;
        margin: auto 0;
    }
    .simulate-app-contianer{
        width: 390px;
        height: auto;
        margin: 20px 4px;
        background-color: #000;
        z-index: 100;
    }

    .top-level-container{
        height: 120vh;
    }

    .how-to{
        width:400px;
        margin-inline: 1.5%;
    }
    .button-container-2, .form, .heading-container .sp{
        margin: auto 7px ;
    }
    .legend-container{
        margin: 5px 6px;
    }
    .one{
        margin: 5px 7px;
    }

    .two{
        margin: 0 7px;
        height: 736px;
    }
    .form{
        margin-block: 5px;
    }
    .title, .latestUpdate{
        width: 400px;
        margin: 1% 1.5%;
    }
    .overlay{
        width: 100%;
        height: 87.5%;
        position: absolute;
        background-color:black;
        opacity: 0.75;
        z-index: 2;
    }
    /* margin-top increase will push the bottom bar below */
    .overlay:after{
        content: "";
        width: 100%;
        height: 60px;
        color: white;
        margin-top:170.5%;
        display: block;
        background-color: black;
        opacity: 0.75;
    }
    .weekly-modifiers{
        left:75px;
        bottom:30px;
    }
    hr.decorated-line{
        bottom: 40px;
        clip-path: polygon(0% 0%,0% 100%, 18% 100%, 18% 0%,85% 0, 85% 100%, 100% 100%, 100% 0);
    }
}


@media only screen and (max-width:393px){
    #app-container{
        width: 380px;
        margin: 59% 0;
    }

    .simulate-app-contianer{
        width: 380px;
        height: auto;
        margin: 20px 0px;
        background-color: #000;
        z-index: 100;
    }

    .top-level-container{
        overflow: hidden;
    }

    .how-to{
        width:380px;
    }
    .caught-errors{
        width: 100%;
        margin: 5px 1.2%;
    }

    .legend-container{
        margin: 5px ;
    }
    .heading-container .sp, .button-container-2 {
        margin: 0 6.5px;
    }
    .one{
        margin: 5px 1.2% ;
    }
    .two{
        margin: 1% 6.5px;
        height: 736px;
    }
    .title, .latestUpdate{
        width: 380px;
        margin: 1%  6.5px;
    }
    .back-drop{
        width: 100%;
        height: 100%;
    }
    
    .overlay{
        width: 100%;
        height: 90.5%;
        position: absolute;
        background-color:black;
        opacity: 0.75;
        z-index: 2;
    }
    /* margin-top increase will push the bottom bar below */
    .overlay:after{
        content: "";
        width: 100%;
        height: 28px;
        color: white;
        margin-top:186.5%;
        display: block;
        background-color: black;
        opacity: 0.75;
    }
    .type_1{
        gap:0.2rem;
    }
    
    .type_2 .link-lines {
        margin-left:2.6rem;
    }
    .zone{
        font-size: 8px;
        height: 22px;
        cursor: pointer;
    }
    .type_2 .amount{
        margin-left: 1.8rem;
    }
    .date{
        font-size: 9px;
        margin-left: 2px;
    }
    .version{
        font-size: 9px;
    }
    .credits{
    
    }
    .designedBy{
    
    }
    .weekly-modifiers{
        border:1px solid #FF4477;
        width: 260px;
        height: 21px;
        border-radius: 10px;
        position: absolute;
        left:15.7%;
        bottom: 80px;
        z-index: 2;
        overflow: hidden;
    }
    hr.decorated-line{
        width: 100%;
        border:none;
        border-bottom:1px solid #FF4477;
        position: absolute;
        bottom: 90px;
        z-index: 2;
        clip-path: polygon(0% 0%,0% 100%, 15% 100%, 15% 0%,85% 0, 85% 100%, 100% 100%, 100% 0);
    }
    /* .weekly-modifiers{
        left:15.7%;
    }
    hr.decorated-line{
        clip-path: polygon(0% 0%,0% 100%, 15% 100%, 15% 0%,85% 0, 85% 100%, 100% 100%, 100% 0);
    } */
    hr.decorated-line-2{
        clip-path: polygon(0% 0%,0% 100%, 15.5% 100%, 15.5% 0%,87% 0, 87% 100%, 100% 100%, 100% 0);
    }
    .info-container{
        bottom:0;
    }
    .tooLong{
        font-size: 6px;
        padding-top: 0.25rem;
    }
    .error-alert{
        margin: 5px 1.4%;
    }
    /* ----------------------------sePlacements-------------------- */
    .intersectIconPath-1{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%, 100% 100%, 0 100%);
    }
    .intersectIconPath-2{
        clip-path: polygon(0 0,100% 0, 100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 100%, 0 100%);
    }
    .intersectIconPath-3{
        clip-path: polygon(0 0,100% 0, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    
    .intersectIconPath-1-2{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%, 100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 100%, 0 100%);
    
    }
    
    .intersectIconPath-1-3{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    
    .intersectIconPath-2-3{
        clip-path: polygon(0 0,100% 0, 100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    
    .intersectIconPath-1-2-3{
        clip-path: polygon(0 0,100% 0, 100% 14%, 98% 14%, 98% 30%, 100% 30%,100% 38%, 98% 38%, 98% 54%, 100% 54%, 100% 63%, 98% 63%, 98% 79%, 100% 79%, 100% 100%, 0 100%);
    }
    .se-1, .se-13, .se-22, .se-31{
        transform: translate(75.5px, -78px);
    }
    .se-2, .se-14, .se-23, .se-32{
        transform: translate(75.5px, -56.5px);
    }
    .se-3, .se-15, .se-24, .se-33{
        transform: translate(75.5px, -34.5px);
    }
    .se-4,.se-10, .se-19, .se-28{
        transform: translate(75.5px, -117px);
    }
    .se-5,.se-11, .se-20, .se-29{
        transform: translate(75.5px, -95.5px);
    }
    .se-6, .se-12, .se-21, .se-30{
        transform: translate(75.5px, -73.5px);
    }
    .se-7, .se-16, .se-25, .se-34{
        transform: translate(75.5px, -102px);
    }
    .se-8, .se-17, .se-26, .se-35{
        transform: translate(75.5px, -80.5px);
    }
    .se-9, .se-18, .se-27, .se-36{
        transform: translate(75.5px, -58.5px);
    }
    .se-37{
        transform: translate(74.5px, -117px);
    }
    .se-38{
        transform: translate(74.5px, -95.5px);
    }
    .se-39{
        transform: translate(74.5px, -73.5px);
    }
    .se-40{
        transform: translate(74.5px, -78px);
    }
    .se-41{
        transform: translate(74.5px, -57px);
    }
    .se-42{
        transform: translate(74.5px, -34.5px);
    }
    .se-43{
        transform: translate(74.5px, -102px);
    }
    .se-44{
        transform: translate(74.5px, -80.5px);
    }
    .se-45{
        transform: translate(74.5px, -58px);
    } 
    /* .w-modifier-1{
        transform: translate(-95px, -1px);
    }
    .w-modifier-2{
        transform: translate(-68px, -1px);
    } */
}

@media only Screen and (max-width: 390px){
    .how-to{
        margin-inline: 1%;
    }
    .tooLong{
        font-size: 6px;
        padding-top: 0.25rem;
    }
    .heading-container .sp, .form {
        margin: 0 5px;
    }
    .one{
        margin: 5px 5px;
    }
    .two{
        margin: 0 5px;
    }
    .form{
        margin-block: 5px;
    }
    .title, .latestUpdate{
        margin: 5px 5px;
    }
    .button-container-2{
        margin: 0 5px;
    }
}
@media only screen and (max-width:375px){
    .how-to{
        width: 372px;
        margin: 5px 0;
    }

    .legend-container{
        margin:0;
    }
    #app-container{
        width: 372px;
        margin: 59% 2px;
    }
    .simulate-app-contianer{
        width: 372px;
        margin-inline: 1px ;
    }
    .top-level-container{
        width: 100%;
        overflow: hidden;
    }
    .form{
        margin: 0;
    }
    .heading-container .sp {
        margin: 0;
    }
    .one{
        margin: 5px 0;
    }
    .two{
        width: 99.5%;
        margin: 0 .93px;
    }
    .title, .latestUpdate{
        margin: 5px 0;
    }
    .button-container-2{
        margin: 0;
    }
    /* margin-top increase will push the bottom bar below */
    .overlay:after{
        content: "";
        width: 100%;
        height: 30px;
        color: white;
        margin-top:188%;
        display: block;
        background-color: black;
        opacity: 0.75;
    }
    .version{
        right:8px;
    }
    .date{
        left:2px;
    }
}

@media only screen and (max-width: 360px){
    #app-container{
        margin: 5px 1.5%
    }
    .title, .latestUpdate{
        margin: 1% .25%;
    }
    .heading-container .sp {

    }
    .top-level-container{
        overflow: auto;
    }
    .two{
        width: 99.5%;
    }
    .type_1{
        margin: 0.05rem;
    }
    .wave{
        min-width: 88px;
        min-height: 90px;
    }
    /* margin-top increase will push the bottom bar below */
    .overlay:after{
        content: "";
        width: 100%;
        height: 30px;
        color: white;
        margin-top:187.9%;
        display: block;
        background-color: black;
        opacity: 0.75;
    }
    .se-1, .se-13, .se-22, .se-31{
        transform: translate(80px, -78px);
    }
    .se-2, .se-14, .se-23, .se-32{
        transform: translate(80px, -57px);
    }
    .se-3, .se-15, .se-24, .se-33{
        transform: translate(80px, -35.5px);
    }
    .se-4,.se-10, .se-19, .se-28{
        transform: translate(80px, -117px);
    }
    .se-5,.se-11, .se-20, .se-29{
        transform: translate(80px, -96px);
    }
    .se-6, .se-12, .se-21, .se-30{
        transform: translate(80px, -74.5px);
    }
    .se-7, .se-16, .se-25, .se-34{
        transform: translate(80px, -103px);
    }
    .se-8, .se-17, .se-26, .se-35{
        transform: translate(80px, -80px);
    }
    .se-9, .se-18, .se-27, .se-36{
        transform: translate(80px, -60.5px);
    }
    .se-37{
        transform: translate(68px, -117px);
    }
    .se-38{
        transform: translate(68px, -96px);
    }
    .se-39{
        transform: translate(68px, -75px);
    }
    .se-40{
        transform: translate(68px, -78px);
    }
    .se-41{
        transform: translate(68px, -57px);
    }
    .se-42{
        transform: translate(68px, -36px);
    }
    .se-43{
        transform: translate(68px, -102px);
    }
    .se-44{
        transform: translate(68px, -81px);
    }
    .se-45{
        transform: translate(68px, -60px);
    }  
    

    .se-dogs-9{
        transform: translate(50px, -80.3px);
    }
    
    .se-bears-9{
        transform: translate(65px, -80px);
    }
    .se-dogs-12{
        transform: translate(50px, -80.3px);
    }
    
    .se-bears-12{
        transform: translate(65px, -80px);
    }
    
    
    .se-dogs-15{
        
    }
    
    .se-bears-15{
        transform: translate(60px, -80px);
    }
}

@media only screen and (max-width:280px){
    .top-level-container{
        overflow: auto;
    }
}